/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.left { 
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: relative;
}

a.button {
  background-color: rgba(1, 96, 254, 1);
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* header top - nav */
header nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  line-height: 50px;
  padding: 0 12px;
}

header nav img {
  height: 25px;
  vertical-align: text-bottom;
}

header nav ul {
  display: inline-block;
}

header nav li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
}

header nav li a {
  color: rgb(44, 44, 46);
  text-decoration: none;
}

nav a.button {
  margin-left: 30px;
}


/* header bottom - jumbotron */
#jumbotron {
  height: 680px;
  background-color: rgba(180, 208, 231, 1);
  padding-top: 100px;
}

#jumbotron > .container {
  width: 80%;
  margin: 0 auto;
}

#jumbotron h1 {
  font-size: 65px;
  margin-bottom: 50px;
}

#jumbotron article.container {
  width: 35%;
}

#jumbotron article.container p {
  line-height: 22.4px;
}

#jumbotron article.container div.container {
  margin: 30px 0 15px;
}

#jumbotron div.grey {
  font-size: 14px;
  font-style: italic;
  color: rgb(72, 72, 74);
}

#jumbotron i.fa-arrow-down {
  margin-top: 30px;
  font-size: 40px;
}

#jumbotron img {
  width: 740px;
}